header{
  background: aqua;
  width: 100%;
  position: fixed;
  text-align: center;
  color: red;
  top: 0;
  padding: 15px;
  font-family: 'Bangers', cursive;
  font-size: 60px;
}
#left{
  background:orange;
  flex-grow:1;
}
#right{
  background: purple;
  flex-grow:1;
}
main{
  background:red;
  display: flex;
  flex-grow: 2;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-end;
  align-items: flex-end;
  
}
.kocka{
  background: black;
  height: 100px;
  width: 100px;
  margin-bottom: 10px;
  margin-right: 10px;
  
}
footer{
  background:blue;
  height: 100px;
  width: 100%;
}


.centercont{
  display:flex;
  height:2000px;
  width: 100%;
}
section{
  width: 100%;
  margin: auto;
  align-items: center;
}